<html>
<body>
    {{#chatmsg}}
        <p>{{id}} {{text}}</p>
    {{/chatmsg}}

    {{#chats}}
            <p>{{id}} {{name}}</p>
            {{#messages}}
                <p>{{id}} {{text}}</p>
            {{/messages}}
    {{/chats}}
</body>
</html>