:root 
{
    --topDist: 20px;
    --leftDist: 100px;
}
body
{
    margin : 0;
    background-color: coral;
}
img
{
    margin : 0;
}
#PColorDisplay
{
    position: absolute;
    top: var(--topDist); left: var(--leftDist);
}
#SColorDisplay
{
    position: absolute;
    top: var(--topDist); left: var(--leftDist);
}
#EyesDisplay
{
    position: absolute;
    top: var(--topDist); left: var(--leftDist);
}
#HatDisplay
{
    position: absolute;
    top: var(--topDist); left: var(--leftDist);
}
#AccessoryDisplay
{
    position: absolute;
    top: var(--topDist); left: var(--leftDist);
}