<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campfire</title>
</head>

<body>
    <h1>Friend List</h1>
    <div>
        {{#friendList}}
        <p>{{username}}</p>
        {{/friendList}}
    </div>

    <form action="send-friend-request" method="POST">
        <input type="text" name="friendRequest">
        <input type="submit" value="Send Friend Request">
    </form>

    <h1>Friend Requests</h1>
    {{#friendRequests}}
    <form action="resolve-friend-request" method="POST">
        <div>
            <label><input type="hidden" name="friendRequest" value="{{username}}">{{username}}</label>
            <input type="submit" name="resolve" value="accept">
            <input type="submit" name="resolve" value="decline">
        </div>
    </form>
    {{/friendRequests}}

    <br>
    <a href="/home">Back to home</a>
</body>

</html>