<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campfire</title>
</head>

<body>
    <h1>Bienvenido, {{username}}</h1>

    <a href="/customization">Customizar avatar</a>
    <a href="/chat_lobby">Entrar a una sala de chat</a>
    <a href="/make-public-post">Realizar mensaje público</a>
    <a href="/log-out">Cerrar sesión</a>
</body>

</html>