<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campfire</title>
</head>

<body>
    <h1>Welcome, {{username}}</h1>

    <a href="/customization">Customize avatar</a>
    <br>
    <a href="/chat_lobby">Join a chat room</a>
    <br>
    <a href="/make-public-post">Make a public post</a>
    <br>
    <a href="/friend-list">Manage friend list</a>
    <br>
    <a href="/log-out">Log out</a>
</body>

</html>