<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing-page/landing-page.css">
    <title>Campfire</title>
</head>

<body>

    <section class="landing-page">
        <div class="container">
            <img src="assets/landing-page/corner_abstract.svg" class="corner-abstract">
            <div class="left-col">
                <h2 class="public-post-msg">{{public-post-msg}}</h2>
                <h3 class="public-post-owner">By: {{public-post-owner}}</h3>
                <img src="assets/landing-page/campfire_illustration.svg" class="campfire-illustration">
            </div>

            <div class="right-col">
                <img src="assets/landing-page/campfire_logo.svg" class="campfire-logo">
                <h1 class="campfire-name">CAMPFIRE</h1>
                <form class="login-box" method="POST" action="/">
                    <div class="login-fields">
                        <input type="text" placeholder="Username" spellcheck="false" autocomplete="off" name="username">
                        <input type="password" placeholder="Password" spellcheck="false" name="password">
                    </div>
                    <div class="login-buttons">
                        <a href="/register" class="register">Register</a>
                        <input type="submit" value="Log In" class="login">
                    </div>
                    <div class="password-container">
                        <a href="/" class="forgot-password">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>