<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/avatar-customization/avatar-customization.css">
    <script src = "js/avatar/load-avatar-resources.js" ></script>
    <script src = "js/avatar/avatar-customization.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- IMAGES-->
    <img id = "PColorDisplay" class = "primary-image" src="assets/avatar-resources/primary-color/PColorDefaultInvert.png"/>
    <img id = "SColorDisplay" class = "secondary-image" src="assets/avatar-resources/secondary-color/SColorInvert.png"/>
    <img id = "EyesDisplay" class = "eyes-image" src="assets/avatar-resources/eyes/EyesDefault.png"/>
    <img id = "HatDisplay" src="assets/avatar-resources/hats/HatDefault.png"/>
    <img id = "AccessoryDisplay" src="assets/avatar-resources/accessories/AccessoryDefault.png"/>

    <!-- BUTTONS-->
    <input type="button" id="Save" value="Guardar cambios"/>

    <input type="button" id="PColorR" value="PColorRight"/>
    <input type="button" id="PColorL" value="PColorLeft"/>

    <input type="button" id="SColorR" value="SColorRight"/>
    <input type="button" id="SColorL" value="SColorLeft"/>

    <input type="button" id="EColorR" value="EColorRight"/>
    <input type="button" id="EColorL" value="EColorLeft"/>

    <input type="button" id="HatR" value="HatRight"/>
    <input type="button" id="HatL" value="HatLeft"/>

    <input type="button" id="AccessoryR" value="AccessoryRight"/>
    <input type="button" id="AccessoryL" value="AccessoryLeft"/>

    <a href="/home">Back to home</a>
</body>
</html>